In [1]:
numbers = [3, 1, 2, 4, 5]

In [3]:
def is_even(x):
    if x % 2 is 0:
        return True
    return False

In [6]:
for number in filter(is_even, numbers):
    print(number)

2
4

In [10]:
def multiply_2(x):
    if x % 2 is 0:
        return '偶數'
    return '奇數'

In [11]:
for number in map(multiply_2, numbers):
    print(number)

奇數
奇數
偶數
偶數
奇數

In [18]:
prices = ['100', '0', '300', '500']

# float('100') -> 100.00

def greater_than_500(x):
    return x > 500

# filter(greater_than_500, map(multiply_2, map(float, prices)))

# function composition

In [4]:
def is_even(x):
    return x % 2 == 0


is_even_lambda = lambda x: x % 2 == 0

In [6]:
is_even(2)

True

In [10]:
is_even_lambda(3)

False

In [ ]:
# filter(greater_than_500, map(multiply_2, map(float, prices)))
filter(lambda x: x > 500, map(lambda x: x * 2, map(float, prices)))

In [24]:
prices = ['100', '0', '300', '500']

In [23]:
def multiply_2(x):
    return x * 2

def greater_than_500(x):
    return x > 500

for price in filter(greater_than_500, map(multiply_2, map(float, prices))):
    print(price)

600.0
1000.0

In [25]:
for price in filter(lambda x: x > 500, map(lambda x: x * 2, map(float, prices))):
    print(price)

600.0
1000.0

In [26]:
foo = lambda x: 1 if x % 2 is 0 else 2

In [27]:
foo(5)

2

In [ ]:
lambda x, y: x + y

In [1]:
numbers = [3, 2, 1, 5, 3]

In [2]:
for number in numbers:
    print(number)

3
2
1
5
3

In [3]:
numbers2 = [
    number
    for number in numbers
]

In [4]:
numbers2

[3, 2, 1, 5, 3]

In [7]:
# filter
print([
    number
    for number in numbers
    if number > 2
])

[3, 5, 3]

In [9]:
# map

# for number in numbers:
#     if number % 2 is 0:
#         print(number)
#     else:
#         print(number + 1)

new_numbers = [
    number
    if number % 2 is 0
    
    else number + 1
    
    for number in numbers
]

In [10]:
new_numbers

[4, 2, 2, 6, 4]

In [11]:
normal = {
    "height": 175,
    "weight": 75
}

In [12]:
figure = {}

In [13]:
for key, value in normal.items():
    print(key, value)
    figure[key] = value / 100

height 175
weight 75

In [14]:
figure

{'height': 1.75, 'weight': 0.75}

In [16]:
figure = {
    key: value / 100
    for key, value in normal.items()
}

In [17]:
print(figure)

{'height': 1.75, 'weight': 0.75}

In [18]:
# filter
figure = {
    key: value / 100
    for key, value in normal.items()
    if key is "height"
}

In [19]:
figure

{'height': 1.75}

In [20]:
# map
figure = {
    key: value / 100 if key is "height" else value
    for key, value in normal.items()
}

In [21]:
figure

{'height': 1.75, 'weight': 75}

In [ ]:
map_object = map(lambda x,y : x>y, [1, 2, 3], [0, 3, 1, 2, 6])
my_list = list(map_object)
print(my_list)

[True, False, True]