In [27]:
max(), min()
List
    .count(something) # 返回 something 存在 List 中有幾個
    .index(something) # 找 something，沒找到會噴 Error
    .append(something) # 最尾端加入 something
    .insert(index, something) # 在 index 加入 something
    .remove(something) # 刪除 something 一次
    .reversve() # 倒轉
    .sort(reverse=Boolean, ket=) # 排序

Set
    .intersection(Set) # 交集
    .difference(Set) # 差集
    .union(Set) # 聯集
    .add()
    .update(Set, List, Tuple, Dict) 
    .clear() # 清空
    .remove() # 刪除
    .discard() # 一樣移除，沒找到不會噴錯

#常見用法
list[2:5:1] # 切片 index 2 開始，到 index 5 之前，每次跳 1
'qq' in member # 返回 Bool

IndentationError: unexpected indent (2176377140.py, line 3)

In [2]:
members = [
    'kevin',
    'john',
    'tom',
]

In [3]:
'hello ' + members[0]

'hello kevin'

In [5]:
print(members[-2])

john

In [9]:
members[3]

IndexError: list index out of range

In [7]:
members[0:2:1]

['kevin', 'john']

In [38]:
fruits = ['apple', 'banana', 'mongo', 'apple', 'banana']

In [9]:
fruits[2:5:1]

['mongo', 'apple', 'banana']

In [10]:
fruits[0:5:2]

['apple', 'mongo', 'banana']

In [11]:
fruits[0:5]

['apple', 'banana', 'mongo', 'apple', 'banana']

In [12]:
fruits[2:]

['mongo', 'apple', 'banana']

In [13]:
fruits[:2]

['apple', 'banana']

In [14]:
len(fruits)

5

In [15]:
min(fruits)

'apple'

In [16]:
min([1, 2, 3, 4])

1

In [17]:
max([4, 2, 1, 5])

5

In [19]:
fruits.append('watermelon')

In [20]:
print(fruits)

['apple', 'banana', 'mongo', 'apple', 'banana', 'watermelon']

In [22]:
fruits.insert(0, 'orange')

In [23]:
print(fruits)

['orange', 'apple', 'banana', 'mongo', 'apple', 'banana', 'watermelon']

In [24]:
fruits.insert(2, 'orange')

In [25]:
print(fruits)

['orange', 'apple', 'orange', 'banana', 'mongo', 'apple', 'banana', 'watermelon']

In [26]:
fruits.remove('orange')

In [27]:
print(fruits)

['apple', 'orange', 'banana', 'mongo', 'apple', 'banana', 'watermelon']

In [28]:
fruits.remove('apple')

In [29]:
print(fruits)

['orange', 'banana', 'mongo', 'apple', 'banana', 'watermelon']

In [88]:
fruits.reverse()

In [98]:
print(fruits)

['apple', 'apple', 'banana', 'banana', 'mongo']

In [94]:
fruits.sort(reverse=True)

In [96]:
print(fruits)

['apple', 'apple', 'banana', 'banana', 'mongo']

In [43]:
fruits.count('banana')

2

In [44]:
fruits.index('apple')

5

In [45]:
fruits.index('banana')

3

In [46]:
fruits.index('qq')

ValueError: 'qq' is not in list

In [47]:
'qq' in fruits

False

In [48]:
'banana' in fruits

True

In [49]:
point = (3, 4)

In [13]:
numbers = (4, 5, 2, 1, 2, 3)

In [54]:
numbers[:2:1]

(4, 5)

In [55]:
numbers[3:]

(1, 2, 3)

In [56]:
len(numbers)

6

In [57]:
min(numbers)

1

In [59]:
numbers.count(2)

2

In [19]:
numbers.index(5)

1

In [61]:
5 in numbers

True

In [62]:
foo = 1,

In [63]:
foo

(1,)

In [64]:
len(foo)

1

In [65]:
bar = tuple([1])

In [66]:
bar

(1,)

In [64]:
member = {
    'name': 'kevin',
    'gender': 20000,
    'age': -1,
    'test': 0,
}

In [8]:
member['age']

25

In [10]:
member['age'] = 30

In [12]:
print(member['age'])

30

In [14]:
len(member)

3

In [56]:
min(member)

'age'

In [38]:
max(member)

'test'

In [77]:
member['interests'] = [
    'coding',
    'play'
]

In [78]:
print(member)

{'name': 'kevin', 'age': 30, 'gender': 0, 'interests': ['coding', 'play']}

In [79]:
del member['age']

In [80]:
print(member)

{'name': 'kevin', 'gender': 0, 'interests': ['coding', 'play']}

In [81]:
del member['gender']

In [82]:
print(member)

{'name': 'kevin', 'interests': ['coding', 'play']}

In [83]:
del member['qq']

KeyError: 'qq'

In [88]:
if 'qq' in member:
    del member['qq']

In [85]:
'name' in member

True

In [86]:
member['qq']

KeyError: 'qq'

In [88]:
print(member.get('qq'))

None

In [90]:
print(member.keys())

dict_keys(['name', 'interests'])

In [91]:
print(member.values())

dict_values(['kevin', ['coding', 'play']])

In [92]:
print(member.items())

dict_items([('name', 'kevin'), ('interests', ['coding', 'play'])])

In [93]:
# hashable
test = {}
test[123] = 456

In [94]:
test

{123: 456}

In [95]:
test[True] = 'XDD'

In [96]:
test

{123: 456, True: 'XDD'}

In [99]:
empty_set = set()

In [100]:
type(empty_set)

set

In [101]:
{1, 2, 2, 3}

{1, 2, 3}

In [102]:
2 in {1, 2, 3}

True

In [103]:
4 in {1, 2, 3}

False

In [9]:
set_1 = {1, 2, 3}
set_2 = {1, 2, 4, 5, 6}

In [25]:
# set_1.intersection(set_2)
# tuple = tuple(1)
# s = tuple((1,2,3,4))
# list = [3,4,5]
dict = {1,3}
set_1.intersection(dict)

{1, 3}

In [5]:
a = tuple((1,2,3,4))

In [11]:
set_1.difference(set_2)

{3}

In [107]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 6}

In [108]:
set_1.add(8)

In [130]:
set_1

{1, 2, 3}

In [181]:
a = (1,2,3,4,5)
set_1.update(a)

In [183]:
set_1

{1, 2, 3, 4, 5}

In [112]:
set_1.clear()

In [113]:
print(set_1)

set()

In [114]:
set([1, 2, 2, 3])

{1, 2, 3}

In [115]:
set((1, 2, 2, 3))

{1, 2, 3}

In [116]:
set_2.discard(2)

In [118]:
set_2

{1, 4, 5, 6}

In [104]:
set_2.discard(2)

In [100]:
set_2

{1, 4, 5, 6}

In [80]:
type (type)

type

In [143]:
list = ['a','b','c']

In [149]:
sorted(list,reverse=True)

['c', 'b', 'a']